/* You can add global styles to this file, and also import other style files */

/*$primary: #00FF00 !default;*/
$is-inactive-color: #999999;
$is-radiobutton-padding: 15px;

$is-help-background-color: #e5edf0;
$is-help-text-color: #169bd5;
$is-help-border-color: #4592d1;
$is-help-icon-color: #0c76ad;
